<h1>{{modoEdicion ? 'Edit' : 'Add'}} Users</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('email').touched || formGroup.get('email').dirty) && !formGroup.get('email').valid }">
      <label class="col-md-2 control-label"
             for="email">Email</label>

      <div class="col-md-8">
        <input class="form-control"
               id="email"
               type="email"
               required
               formControlName="email" />
        <span class="help-block" *ngIf="(formGroup.get('email').touched || formGroup.get('email').dirty) && formGroup.get('email').errors">
          <span *ngIf="formGroup.get('email').errors.required">
            Required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"
             for="password">Password</label>
      <div class="col-md-8">
        <input class="form-control"
               id="password"
               type="password"
               formControlName="password" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"
             for="rol">Rol</label>
      <div class="col-md-8">
        <select class="form-control" required id="rol" formControlName="rol">
          <option value="" selected="selected">[Select rol]</option>
          <option value="-1">Admin</option>
          <option value="1"> Regular User</option>
        </select>
        <span class="help-block" *ngIf="(formGroup.get('rol').touched || formGroup.get('rol').dirty) && formGroup.get('rol').errors">
          <span *ngIf="formGroup.get('rol').errors.required">
            Required
          </span>
        </span>
      </div>
    </div>

    <div *ngIf="modoEdicion" class="form-group">
      <label class="col-md-2 control-label"
             for="rol">Status</label>
      <div class="col-md-8">
        <select class="form-control" required id="isActive" formControlName="isActive">
          <option value="" selected="selected">[Select status]</option>
          <option value="true">Enable</option>
          <option value="false"> Disable</option>
        </select>
        <span class="help-block" *ngIf="(formGroup.get('isActive').touched || formGroup.get('isActive').dirty) && formGroup.get('isActive').errors">
          <span *ngIf="formGroup.get('isActive').errors.required">
            Required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Save
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/users"]'>
            Cancel
          </button>
        </span>
      </div>
    </div>
  </fieldset>
</form>
