<h1>Products</h1>

<button [routerLink]='["/products-add"]' class="btn btn-primary">Add product</button>

<p *ngIf="!(Datausers && Datausers.length)">
  No results.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of Datausers">
      <td>{{user.email}}</td>
      <td>{{user.isActive ? 'Enable' : 'Disable'}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/products-edit/" + user.id]'>Edit</button>
        <button class="btn btn-danger" (click)="delete(user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
