<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>
    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('password').touched || formGroup.get('password').dirty) && !formGroup.get('password').valid }">
      <label class="col-md-2 control-label"
             for="password">Password</label>

      <div class="col-md-8">
        <input class="form-control"
               id="password"
               type="password"
               required
               formControlName="password" />
        <span class="help-block" *ngIf="(formGroup.get('password').touched || formGroup.get('password').dirty) && formGroup.get('password').errors">
          <span *ngIf="formGroup.get('password').errors.required">
            Required
          </span>
        </span>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Save
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/products"]'>
            Cancel
          </button>
        </span>
      </div>
    </div>
  </fieldset>
</form>
