<h1>Products</h1>

<button [routerLink]='["/products-add"]' class="btn btn-primary">Add product</button>

<p *ngIf="!(products && products.length)">
  No results.
</p>

<table class="table" *ngIf="products && products.length">
  <thead>
    <tr>
      <th>Description</th>
      <th>Quantity</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.description}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.isActive ? 'Enable' : 'Disable'}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/products-edit/" + product.id]'>Edit</button>
        <button class="btn btn-warning" (click)="delete(product)">Delete</button>
        <button class="btn btn-danger" [routerLink]='["/products-password/" + product.id]'>Reset Product</button>
      </td>
    </tr>
  </tbody>
</table>
